<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-wdith, initial-scale=1">
    <meta name="keywords" content="Bible, Catholic, Scripture">
    <title>Bibile Catholic</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>   
    <style>
        body {
          background-image: url('static\\iStock-1139690005.jpg');
          background-size: cover;
          background-attachment: fixed;
        }
    </style> 
</head>
   <body>
    <nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Bible Catholic</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('mainpage')}}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('about_page')}}">About this Page</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Topics
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{url_for('return_specific_challenge', challenge='Apostolic Succession')}}">Apostolic Succession</a></li>
                  <li><a class="dropdown-item" href="{{url_for('return_specific_challenge', challenge='Bible plus Tradition')}}">Bible plus Tradition</a></li>
                  <li><a class="dropdown-item" href="{{url_for('return_specific_challenge', challenge='Calling priests father')}}">Calling priests father</a></li>
                  <li><a class="dropdown-item" href="{{url_for('return_specific_challenge', challenge='Confession')}}">Confession</a></li>
                  <li><a class="dropdown-item" href="{{url_for('return_specific_challenge', challenge='Different Levels of Sin')}}">Different Levels of Sin</a></li>
                  <li><a class="dropdown-item" href="{{url_for('return_specific_challenge', challenge='Good works do matter')}}">Good works do matter</a></li>
                  <li><a class="dropdown-item" href="{{url_for('return_specific_challenge', challenge='Infant Baptism')}}">Infant Baptism</a></li> 
                  <li><a class="dropdown-item" href="{{url_for('return_specific_challenge', challenge='Mary the Mother of God')}}">Mary the Mother of God</a></li>
                  <li><a class="dropdown-item" href="{{url_for('return_specific_challenge', challenge='The Immaculate Conception')}}">Mary's Immaculate Conception</a></li>
                  <li><a class="dropdown-item" href="{{url_for('return_specific_challenge', challenge='There must be one church')}}">One Church</a></li>
                  <li><a class="dropdown-item" href="{{url_for('return_specific_challenge', challenge='Perpetual Virginity of Mary')}}">Perpetual Virginity of Mary</a></li>
                  <li><a class="dropdown-item" href="{{url_for('return_specific_challenge', challenge='Praying to and veneration of the Saints')}}">Praying to and veneration of the Saints</a></li>
                  <li><a class="dropdown-item" href="{{url_for('return_specific_challenge', challenge='Purgatory')}}">Purgatory</a></li>                    
                  <li><a class="dropdown-item" href="{{url_for('return_specific_challenge', challenge='Real Presence in the Eucharist')}}">Real Presence in the Eucharist</a></li>
                  <li><a class="dropdown-item" href="{{url_for('return_specific_challenge', challenge='Repetitive Prayer')}}">Repetitive Prayer</a></li>
                  <li><a class="dropdown-item" href="{{url_for('return_specific_challenge', challenge='Scandal in the Church')}}">Scandal in the Church</a></li>
                  <li><a class="dropdown-item" href="{{url_for('return_specific_challenge', challenge='The use of relics')}}">The use of relics</a></li> 
                  <li><a class="dropdown-item" href="{{url_for('return_specific_challenge', challenge='The use of statues')}}">The use of statues</a></li> 
                  <li><a class="dropdown-item" href="{{url_for('return_specific_challenge', challenge='You can loose your salvation')}}">You can loose your salvation</a></li>
                
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('challenge_list')}}"#>All topics</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Welcome to the Bible Catholic Page</h1>
        <p class="lead mb-4">This site is a reference site for biblical data that shows the biblical foundation of the Catholic Church and its teachings</p>
        <p class="lead mb-4">Some quotes are direct quotes of scripture and some are paraphrases</p>
        <p class="lead mb-4">Select a topic at the top of the page</p>
        
   
    </div>

   </body>
        
</html>